body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    background: #c6ece6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: inline;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="file"] {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
.password-strength {
    margin-top: 5px;
    font-size: 12px;
}
.password-strength.weak {
    color: rgb(227, 37, 37);
}
.password-strength.medium {
    color: orange;
}
.password-strength.strong {
    color: green;
}
input[type="checkbox"] {
    margin-right: 5px;
}
.submit-button {
    background-color: #3f7741;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}